{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
<header class="masthead" style="background-image: url('{{ asset('img/register-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Modifier mon profil</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
    
</div>
<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2 class="post-title" id="show_comments">Bienvenue {{ app.user.firstname }} {{ app.user.name }}</h2>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
        </div>
    </div>
</div>
<div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3>Modifier mes informations :</h3></br>
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ form(form) }}
                </div>
        </div>
            </div>
        </div>
    </div>
{% endblock %}
