{% extends 'base.html.twig' %}

{% block title %}New Tricks{% endblock %}

{% block body %}
        <header class="masthead" style="background-image: url('{{ asset('img/home-bg.jpg') }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Create new Tricks</h1>
                        <span class="subheading">A place to share your knowledge of snowboarding !</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{ include('tricks/_form.html.twig') }}

{% endblock %}
